doctype html
html
  head
    title=title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1(style = "text-align:center") MSKC Web Management
    br
    br
    div.Main_div
      p.Main_p(onclick="location.href='/Setting'") Setting
    div.Main_div
      p.Main_p(onclick="location.href='/View'") View 
