extends View 

block view_content
    .View_div(onclick="location.href='/View'",style="text-align:center") MSK-Server
    .View_MSK_Server 
        label.View_label MSK-Server
    .View_MSK_Client
        label.View_label MSK-Client
