extends index

block content
    p(style="text-align:center") MSCK Web Management View
    h1(style="text-align:center;margin:30px 0px 0px 0px") 아파트이름
    p(style="text-align:right") 건설사
    p(style="text-align:right") 홈네트워크사
    p(style="float:clear")
    block view_content
