extends view 

block view_content 
    .View_div(onclick="location.href='/View_Detail'") 
    .View_div(onclick="location.href='/View_Detail'")  
    .View_div(onclick="location.href='/View_Detail'")  
    .View_div(onclick="location.href='/View_Detail'")  
    .View_div(onclick="location.href='/View_Detail'")  
